<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container-fluid">
	<div class="container">
		<div class="mb-3">
			<div class="product">
				<img class="img-fluid" />
				<div>
					<div class="atelier-name">
						<em th:text="${product.atelierName}"></em>
					</div>
					<div class="product-name fs-5">
						<span th:text="${product.productName}"></span>
					</div>
					<div class="product-price-group">
						<span th:if="${product.isDiscount}">
							<del th:text="${product.price}"></del>
							<super th:text="${product.discountPrice}"></super>
						</span>
						<span th:if="${!product.isDiscount}">
							<super th:text="${product.price}"></super>
						</span>
					</div>
<!--					<div th:if="${product.tags != null}" class="product-badges">-->
<!--							<span th:each="badges: ${product.tags}">-->
<!--								<span class="badge bg-primary" th:text="${badges}"></span>-->
<!--							</span>-->
<!--					</div>-->
				</div>
			</div>
		</div>
		<div>
			<h2>제품설명</h2>
			<div>
				<p class="product-description" th:text="${product.description}"></p>
			</div>
		</div>
		<hr>
<!--		리뷰 -->
		<div>
			<h2>리뷰</h2>
			<div>
				{리뷰 목록}
			</div>
		</div>
		<hr>
<!--		문의글 -->
		<div>
			<h2>Q&A</h2>
			<div>
				{문의글 목록}
			</div>
		</div>
		<hr>
<!--		배송 관련 -->
		<div>
			<h2>배송/교환/환불 안내</h2>
			<div>
				{관련 내용}
			</div>
		</div>
	</div>
</div>
</html>